"*":
  Zen:
    minimap: true
    width: 100
  "activate-power-mode": {}
  "atom-beautify":
    general:
      analytics: false
  "atom-clock": {}
  "atom-material-ui":
    colors:
      abaseColor: "#7e7e7e"
      genAccent: true
      predefinedColor: "Grey"
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "li"
      "th"
      "td"
      "a"
    ]
  "autocomplete-python":
    useKite: false
  "battery-status":
    onlyShowWhileInFullscreen: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "welcome"
      "dalek"
      "metrics"
      "git-plus"
      "linter-lua"
      "autocomplete-java"
      "linter-javac"
      "github"
      "background-tips"
      "linter-golinter"
      "intentions"
      "atom-ide-ui"
      "platformio-ide"
      "platformio-ide-debugger"
      "platformio-ide-terminal"
      "atom-beautify"
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  editor: {}
  "exception-reporting":
    userId: "c9520757-c057-484e-a129-77dea25aa744"
  "file-icons":
    strategies: {}
  "git-plus":
    general:
      analytics: false
  linter: {}
  "linter-flake8":
    pycodestyleErrorsToWarnings: true
  "linter-ui-default":
    panelHeight: 143
    useBusySignal: false
  "linter-write-good": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "nord-atom-syntax":
    accessibility: {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
  pigments:
    mergeColorDuplicates: true
  proton:
    core:
      selectedLayers: [
        "core"
      ]
  script: {}
  "seti-ui":
    compactView: true
    fileIcons: false
    hideProjectTab: true
    themeColor: "Purple"
  "todo-show": {}
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome: {}
".basic.html.text":
  editor:
    showIndentGuide: true
".diff.source":
  editor:
    showInvisibles: true
