"*":
  Zen:
    minimap: true
    width: 160
  "activate-power-mode":
    autoToggle: false
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  "exception-reporting":
    userId: "e8b4ff51-55bf-620d-af04-5226eb6bb6fe"
  "git-plus":
    general:
      analytics: false
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "seti-ui":
    compactView: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".perl.source":
  editor:
    showIndentGuide: false
    showInvisibles: false
".python.source":
  editor:
    tabLength: 4
